<mat-toolbar color="primary" class="navbar">
  <div>Spotify-full-app</div>
  <div class="side-bar-items-wrapper">
    <span routerLink="/homepage" routerLinkActive="active-link">Home</span>
    <span routerLink="/search" routerLinkActive="active-link">Search</span>
    <span routerLink="/create-playlists" routerLinkActive="active-link"
      >Create playlists</span
    >
    <span routerLink="/playlists" routerLinkActive="active-link"
      >My playlists</span
    >
    <span routerLink="/songs" routerLinkActive="active-link">Songs</span>
  </div>
</mat-toolbar>
