<div class="container">
  <div class="steps-buttons">
    <span
      ><button
        mat-raised-button
        color="primary"
        [disabled]="!albumsPrevious"
        (click)="getPrevList(albums)"
      >
        Previous
      </button></span
    ><span>Albums :</span>
    <span
      ><button
        mat-raised-button
        color="primary"
        [disabled]="!albumsNext"
        (click)="getNextList(albums)"
      >
        Next
      </button></span
    >
  </div>

  <div class="albums-list">
    <app-search-albums [albumsItems]="albumsItems"></app-search-albums>
  </div>
</div>
