<div class="container">
  <div class="steps-buttons">
    <span
      ><button
        mat-raised-button
        color="primary"
        [disabled]="!Previous"
        (click)="getPreviousList(Previous,ItemName)"
      >
        Previous
      </button></span
    ><span>{{ItemName}} :</span>
    <span
      ><button
        mat-raised-button
        color="primary"
        [disabled]="!Next"
        (click)="getNextList(Next,ItemName)"
      >
        Next
      </button></span
    >
  </div>
</div>
