<body class="homepage-container">
  <app-sidebar></app-sidebar>

  <div class="cards-wrapper">
    <div class="cards">
      <h2>featured Playlists</h2>
      <card
        [featPlaylists]="featuredPlaylists"
        (previousFeaturedListEvent)="getPreviousFeaturedList($event)"
        (nextFeaturedListEvent)="getNextFeaturedList($event)"
      ></card>
    </div>

    <div class="cards">
      <h2>All categories</h2>
      <card
        [allCategories]="allCategories"
        (previousallCategoriesEvent)="getPreviousAllCategories($event)"
        (nextallCategoriesEvent)="getNextAllCategories($event)"
      ></card>
    </div>

    <div class="cards">
      <h2>Browse Categories</h2>
      <card
        [AllNewReleases]="AllNewReleases"
        (previousAllNewReleasesEvent)="getPreviousAllNewReleases($event)"
        (nextAllNewReleasesEvent)="getNextAllNewReleases($event)"
      ></card>
    </div>

    <div class="cards">
      <h2>Favourites Artists</h2>
      <card [favouritesArtists]="favouritesArtists"></card>
    </div>
  </div>
</body>
