
@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  @include center;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
  background-color: hsl(141, 73%, 42%);
  border-radius: 5%;
  color: #fff;

  .spotify-icon-container {
    width: 100%;
    height: 140px;

    @include center;
  }
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
