<body>
  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="search_container">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Que recherchez vous ?</mat-label>
        <input matInput type="text" #movieSearchInput class="form-control" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div *ngIf="displayingContent">
      <div class="categories_buttons">
        <div class="buttons_container">
          <mat-button-toggle-group
            [formControl]="fontStyleControl"
            aria-label="Font Style"
            class="button-toggle-group"
          >
            <mat-button-toggle value="tracks" color="primary"
              >tracks</mat-button-toggle
            >
            <mat-button-toggle
              value="albums"
              color="primary"
              (click)="displayCategorie(album)"
              >albums</mat-button-toggle
            >
            <mat-button-toggle value="playlists" color="primary"
              >playlists</mat-button-toggle
            >
            <mat-button-toggle value="artists" color="primary"
              >artists</mat-button-toggle
            >
            <mat-button-toggle value="episodes" color="primary"
              >episodes</mat-button-toggle
            >
            <mat-button-toggle value="shows" color="primary"
              >shows</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="search_results_items">
        <app-search-steps-buttons
          [albumsData]="albumsData"
          [Previous]="albumsPrevious"
          [Next]="albumsNext"
          [ItemName]="'Albums'"
          (newItemEvent)="addItem($event)"
          (newNextEvent)="refreshNextButton($event)"
          (newPreviousEvent)="refreshPrevButton($event)"
          class="results_items_container"
        ></app-search-steps-buttons>
        <div class="results_items_cards">
          <app-search-albums [albumsItems]="albumsItems"></app-search-albums>
        </div>
      </div>

      <div class="search_results_items">
        <app-search-steps-buttons
          [tracksData]="tracksData"
          [Previous]="tracksPrevious"
          [Next]="tracksNext"
          [ItemName]="'Tracks'"
          (newItemEvent)="addItem($event)"
          (newNextEvent)="refreshNextButton($event)"
          (newPreviousEvent)="refreshPrevButton($event)"
          class="results_items_container"
        ></app-search-steps-buttons>
        <div class="results_items_cards">
          <app-search-tracks [tracksItems]="tracksItems"></app-search-tracks>
        </div>
      </div>
      <!-- <div class="search_results_items">
        <div class="results_buttons">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Previous
            </button></span
          ><span>Tracks :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <app-search-tracks [tracksItems]="tracksItems"></app-search-tracks>
        </div>
      </div> -->

      <div class="search_results_items">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Previous
            </button></span
          ><span>Artists :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <app-search-artists
            [artistsItems]="artistsItems"
          ></app-search-artists>
        </div>
      </div>
      <div class="search_results_items">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Previous
            </button></span
          ><span>Playlists :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <app-search-playlists
            [playlistsItems]="playlistsItems"
          ></app-search-playlists>
        </div>
      </div>
      <div class="search_results_items">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Previous
            </button></span
          ><span>Shows :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <app-search-shows [showsItems]="showsItems"></app-search-shows>
        </div>
      </div>
      <div class="search_results_items">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Previous
            </button></span
          ><span>Episodes :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <app-search-episodes
            [episodesItems]="episodesItems"
          ></app-search-episodes>
        </div>
      </div>
    </div>

    <ng-template [ngIf]="isLoading" class="loading-wrapper">
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</body>
