<app-sidebar></app-sidebar>

<div class="wrapper">
  <div *ngIf="playlistData !== undefined" class="playlists-container">
    <div *ngFor="let playlist of playlistData" class="card-wrapper">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title
            ><span class="card-item">Name :</span>
            {{ playlist.name }}</mat-card-title
          >
          <mat-card-subtitle
            ><span class="card-item">Description :</span>
            {{ playlist.description }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><span class="card-item">Id :</span>
            {{ playlist.id }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><span class="card-item">Owner Uri :</span>
            {{ playlist.owner.uri }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><span class="card-item">Snapshot Id :</span>
            {{ playlist.snapshot_id }}</mat-card-subtitle
          >
        </mat-card-header>
        <div class="image-container">
          <img
            mat-card-image
            src="../../assets/no-image-icon.png"
            alt="Photo of a Shiba Inu"
          />
        </div>
        <mat-card-content>
          <p>Tracks:</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="deleteItem(playlist.id)">Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
