<div>
  <div *ngIf="featPlaylists" class="cards">
    <mat-card class="mat-elevation-z5">
      <mat-card-title>{{ featPlaylists.message }}</mat-card-title>
      <img
        mat-card-image
        src="{{ featPlaylists.image }}"
        alt="Photo"
        height="240px"
      />
      <div class="text-and-buttons-container">
        <mat-card-content>
          <p>Description: {{ featPlaylists.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            [disabled]="!featPlaylists.previous"
            (click)="previousFeaturedList(featPlaylists.previous)"
          >
            Précédent
          </button>
          <button
            mat-raised-button
            [disabled]="!featPlaylists.next"
            (click)="nextFeaturedList(featPlaylists.next)"
          >
            Suivant
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <div *ngIf="allCategories" class="cards">
    <mat-card class="mat-elevation-z5">
      <mat-card-title>{{ allCategories.name }}</mat-card-title>
      <img mat-card-image src="{{ allCategories.icon }}" alt="Photo" />
      <div class="text-and-buttons-container">
        <mat-card-content>
          <p>Genres: {{ allCategories.id }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            [disabled]="!allCategories.previous"
            (click)="previousAllCategories(allCategories.previous)"
          >
            Précédent
          </button>
          <button
            mat-raised-button
            [disabled]="!allCategories.next"
            (click)="nextAllCategories(allCategories.next)"
          >
            Suivant
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  <div *ngIf="AllNewReleases" class="cards">
    <mat-card class="mat-elevation-z5">
      <mat-card-title>{{ AllNewReleases.name }}</mat-card-title>
      <img mat-card-image src="{{ AllNewReleases.image }}" alt="Photo" />
      <div class="text-and-buttons-container">
        <mat-card-content>
          <p>Artists: {{ AllNewReleases.artist_name }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            [disabled]="!AllNewReleases.previous"
            (click)="previousAllNewReleases(AllNewReleases.previous)"
          >
            Précédent
          </button>
          <button
            mat-raised-button
            [disabled]="!AllNewReleases.next"
            (click)="nextAllNewReleases(AllNewReleases.next)"
          >
            Suivant
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  <div *ngIf="favouritesArtists" class="cards">
    <mat-card class="mat-elevation-z5">
      <mat-card-title>{{ favouritesArtists.name }}</mat-card-title>
      <img
        mat-card-image
        src="{{ favouritesArtists.image }}"
        alt="Photo"
        height="240px"
      />
      <div class="text-and-buttons-container">
        <mat-card-content>
          <p>Genre(s): {{ favouritesArtists.genres }}</p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
