<div class="search-images-container">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Ajouter une image ?</mat-label>
    <input
      matInput
      type="text"
      #playlistImageSearchInput
      class="form-control"
    />
    <button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div
    *ngIf="dataLoaded && playlistId"
    style="width: 100%; height: 300 px; display: flex; flex-wrap: wrap"
  >
    <div *ngFor="let item of albumsData" style="display: flex; flex-wrap: wrap">
      <img
        src="{{ item.images[1].url }}"
        class="image"
        (click)="getPlaylistCoverImage(playlistId, item.images[1].url)"
      />
    </div>
  </div>
</div>
