<body>
  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="search_container">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Que recherchez vous ?</mat-label>
        <input matInput type="text" #movieSearchInput class="form-control" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div *ngIf="displayingContent" class="categories_buttons">
      <div class="buttons_container">
        <mat-button-toggle-group
          [formControl]="fontStyleControl"
          aria-label="Font Style"
          class="button-toggle-group"
        >
          <mat-button-toggle value="tracks" color="primary"
            >tracks</mat-button-toggle
          >
          <mat-button-toggle
            value="albums"
            color="primary"
            (click)="displayCategorie(album)"
            >albums</mat-button-toggle
          >
          <mat-button-toggle value="playlists" color="primary"
            >playlists</mat-button-toggle
          >
          <mat-button-toggle value="artists" color="primary"
            >artists</mat-button-toggle
          >
          <mat-button-toggle value="episodes" color="primary"
            >episodes</mat-button-toggle
          >
          <mat-button-toggle value="shows" color="primary"
            >shows</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>

    <div *ngIf="displayingContent" class="search_results">
      <div class="search_results_items" *ngIf="albums === true">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!previous"
              (click)="getPreviousAlbumsList(previous)"
            >
              Previous
            </button></span
          ><span>Albums :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!next"
              (click)="getNextAlbumsList(next)"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <mat-card class="example-card" *ngFor="let item of albumsItems">
            <div>
              <mat-card-header class="search-header">
                <mat-card-title class="search-titles">{{
                  item.artists[0].name
                }}</mat-card-title>
                <mat-card-subtitle class="search-titles">{{
                  item.name
                }}</mat-card-subtitle>
              </mat-card-header>
              <img
                mat-card-image
                src="{{ item.images[0].url }}"
                class="search-images"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content class="card-content">
                <p>Date de réalisation : {{ item.release_date }}</p>
                <p>Précision : {{ item.release_date_precision }}</p>
                <p>Nombre de pistes : {{ item.total_tracks }}</p>
              </mat-card-content>
              <mat-card-actions class="search-card-actions">
                <button mat-button class="search-buttons-actions">Lien</button>
                <button mat-button class="search-buttons-actions">
                  Ajouter
                </button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>

      <div class="search_results_items" *ngIf="apiResponse">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!previous"
              (click)="getPreviousAlbumsList(previous)"
            >
              Previous
            </button></span
          ><span>Tracks :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!next"
              (click)="getNextAlbumsList(next)"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <mat-card class="example-card" *ngFor="let item of tracksItems">
            <mat-card-header class="search-header">
              <mat-card-title class="search-titles">{{
                item.artists[0].name
              }}</mat-card-title>
              <mat-card-subtitle class="search-titles">{{
                item.name
              }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="{{ item.album.images[0].url }}"
              class="search-images"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="card-content">
              <p>Popularité : {{ item.popularity }}</p>
              <!-- <p>Durée : {{ millisToMinutesAndSeconds(item.duration_ms) }} min</p> -->
              <p>Numéro de piste: {{ item.track_number }}</p>
            </mat-card-content>
            <mat-card-actions class="search-card-actions">
              <button mat-button class="search-buttons-actions">Lien</button>
              <button mat-button class="search-buttons-actions">Ajouter</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="search_results_items" *ngIf="apiResponse">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!previous"
              (click)="getPreviousAlbumsList(previous)"
            >
              Previous
            </button></span
          ><span>Artists :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!next"
              (click)="getNextAlbumsList(next)"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <mat-card class="example-card" *ngFor="let item of artistsItems">
            <mat-card-header class="search-header">
              <mat-card-subtitle class="search-titles" *ngIf="item.name">{{
                item.name
              }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              *ngIf="item.images[0]"
              src="{{ item.images[0].url }}"
              class="search-images"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="card-content">
              <p>Popularité : {{ item.popularity }}</p>
              <p>Genres : {{ item.genres && item.genres }}</p>
            </mat-card-content>
            <mat-card-actions class="search-card-actions">
              <button mat-button class="search-buttons-actions">Lien</button>
              <button mat-button class="search-buttons-actions">Ajouter</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="search_results_items" *ngIf="apiResponse">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!previous"
              (click)="getPreviousAlbumsList(previous)"
            >
              Previous
            </button></span
          ><span>Playlists :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!next"
              (click)="getNextAlbumsList(next)"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <mat-card class="example-card" *ngFor="let item of playlistsItems">
            <mat-card-header class="search-header">
              <mat-card-subtitle class="search-titles">{{
                item.name
              }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="{{ item.images[0].url }}"
              class="search-images"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="card-content">
              <p>Description : {{ item.description }}</p>
              <p>Créateur : {{ item.owner.display_name }}</p>
            </mat-card-content>
            <mat-card-actions class="search-card-actions">
              <button mat-button class="search-buttons-actions">Lien</button>
              <button mat-button class="search-buttons-actions">Ajouter</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="search_results_items" *ngIf="apiResponse">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!previous"
              (click)="getPreviousAlbumsList(previous)"
            >
              Previous
            </button></span
          ><span>Shows :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!next"
              (click)="getNextAlbumsList(next)"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <mat-card class="example-card" *ngFor="let item of showsItems">
            <mat-card-header class="search-header">
              <mat-card-subtitle class="search-titles">{{
                item.name
              }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="{{ item.images[0].url }}"
              class="search-images"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="card-content">
              <p class="description">Description : {{ item.description }}</p>
              <p>Créateur : {{ item.publisher }}</p>
            </mat-card-content>
            <mat-card-actions class="search-card-actions">
              <button mat-button class="search-buttons-actions">Lien</button>
              <button mat-button class="search-buttons-actions">Ajouter</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="search_results_items" *ngIf="apiResponse">
        <div class="results_items">
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!previous"
              (click)="getPreviousAlbumsList(previous)"
            >
              Previous
            </button></span
          ><span>Episodes :</span>
          <span
            ><button
              mat-raised-button
              color="primary"
              class="prev_and_next_buttons"
              [disabled]="!next"
              (click)="getNextAlbumsList(next)"
            >
              Next
            </button></span
          >
        </div>
        <div class="results_items_cards">
          <mat-card class="example-card" *ngFor="let item of episodesItems">
            <mat-card-header class="search-header">
              <mat-card-subtitle class="search-titles">{{
                item.name
              }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="{{ item.images[0].url }}"
              class="search-images"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="card-content">
              <p class="description">Description : {{ item.description }}</p>
              <!-- <p>Durée : {{ millisToMinutesAndSeconds(item.duration_ms) }} min</p> -->
            </mat-card-content>
            <mat-card-actions class="search-card-actions">
              <button mat-button class="search-buttons-actions">Lien</button>
              <button mat-button class="search-buttons-actions">Ajouter</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</body>
